.order-customer-avatar{
    float:left;
    /*width:15%;*/
}
.order-customer-info{
    margin-top: 5px;
    float:left;
   /* width:80%;
    margin-left: 5%;*/
}

.group_advert_city{
    display: none;
}