<div id="uLogin"></div>
<script src="http://ulogin.ru/js/widget.js?display=panel&fields=first_name,last_name,photo&providers=vkontakte,odnoklassniki,facebook&hidden=&redirect_uri=http%3A%2F%2Fgoldenhands.ru"></script>