/*
action list on request deal form
*/
#user-deal-request-dialogs-form .form-type-radios .form-radios .form-item-action-list{
    margin-bottom: 15px;
    border-radius: 10px;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    padding: 10px 5px;
//border: 1px solid gray;
}
#user-deal-request-dialogs-form .form-type-radios .form-radios div:nth-child(1){
    background: #d4fcd7;
}
#user-deal-request-dialogs-form .form-type-radios .form-radios div:nth-child(2){
    background: #fad9da;
}
#user-deal-request-dialogs-form .form-type-radios .form-radios div:nth-child(3){
    background: #f0f0f0;
}

#user-deal-request-dialogs-form .form-type-radios .form-radios .grippie{
    display: none;
}