#header {
    width: 1000px;
    height: 90px;
    position: relative;
    margin: 0 auto;
}
#menu {
    width: 960px;
    position: relative;
    margin: 0 auto;
}

.logo {
    width:20%;
}

.region-header {
    float:left;
    margin-top:26px;
    width:79%;
}

#block-menu-menu-header-user-menu{
    float: right;
    margin-top: 5px;
    margin-left: 40px;
}

#block-menu-menu-header-user-menu li{
    padding-top: 3px;
}

/* #block-menu-menu-header-menu,*/
#block-ec-user-user-header-dropdown-menu{
    float:right;
    margin-top:5px;
    margin-right:0px;
}

#block-locale-language .contextual-links-wrapper,
#block-user-dialogs-user-dialogs-link-block .contextual-links-wrapper{
    display: none;
}
#block-locale-language, #block-user-dialogs-user-dialogs-link-block{
    margin-top:10px;
    margin-right:0px;
}
#block-ec-advert-advert-add{
    margin-top:6px;
}
#block-user-dialogs-user-dialogs-link-block{
    width:50px;
}

#block-user-dialogs-user-dialogs-link-block .dialogs-link-img{
    height:12px;
}

.language-switcher-locale-url li{
    float:left;
}

#block-ec-advert-advert-add span.add-advert{
    background: url("../images/plus.png") no-repeat scroll 0 -1px transparent;
}

#block-ec-advert-advert-add a{
    color: #2085D0;
    font-family: "Georgia","tahoma";
    font-size: 14px;
    text-decoration: underline;
    padding-left: 15px;
}

#block-menu-menu-header-menu ul, #block-menu-menu-header-register-menu ul{
    list-style: none;
    font-size: 14px;
    margin: 0 auto;
    padding: 0;
}
#block-menu-menu-header-menu ul li, #block-menu-menu-header-register-menu ul li{
    float: left; /* выстраиваем блочные элементы в ряд */
    margin: 0 0 0 19px;
    overflow: hidden;
    text-align: center;
    padding-top: 3px;
}

#block-menu-menu-header-menu,  #block-menu-menu-header-register-menu{
    padding-top:3px;
}
#block-menu-menu-header-register-menu{
    float:right;
    margin-right: 0;
}

.login-button {
    width: 76px;
    height: 30px;
    line-height: 26px;
    background: url("../images/enter.png") no-repeat 0 1px;
}

.login-button a{
    right: 0px;
    color: #f1f8ff;
    text-decoration: none;
    text-align: center;
    line-height: 26px;
    display: block;
    width: 100%;
}
.login-button:hover {
    background-position: 1px bottom;
    color: #f1f8ff;
    text-decoration: none;
    padding-top: 3px;
}

#block-views-frontpage-slideshow-block{
    width:auto;
    margin-left:auto;
    margin-right:auto;
}

#views_slideshow_cycle_teaser_section_frontpage_slideshow-block{
    margin: auto;
}

/* ----- head-img ----- */
.head-img { width: 100%; height: 540px; position: relative; }

/* when important event...*/
#block-block-1 {
    width: 900px;
    margin: auto;
    top: -450px;
    margin-bottom:-230px !important;
    position:relative;
    z-index: 1000;
}
#block-block-1 .content { margin: 55px auto 41px; width: 682px; height: 109px; padding: 15px 20px 0; color: #fff; font-size: 16px; text-align: center; background-color: #000; -webkit-border-radius: 5px; -moz-border-radius: 5px; border-radius: 5px; behavior: url(styles/pie.htc); opacity: 0.5; filter:progid:DXImageTransform.Microsoft.Alpha(opacity=50); position: relative; }
#block-block-1 .content h2 { font-size: 49px; margin: 0 0 3px; }

#block-search-form {
    width: 541px;
    height: 70px;
    top: -250px;
    margin-bottom:-60px !important;
    margin: 0 auto;
    background-color: #000;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    behavior: url(styles/pie.htc);
    opacity: 0.5;
    filter:progid:DXImageTransform.Microsoft.Alpha(opacity=50);
    position: relative;
    z-index: 1000;
}

#search-block-form input.form-submit,
#search-form input.form-submit{
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
}

.compact-form-label{
    padding: 5px 0px 0px 5px;
}


#content .section{
    padding: 0!important;
}

#block-apachesolr-custom-frontpage-search-result { position: relative; margin: 0 -40px 0 0; overflow: hidden; }
#block-apachesolr-custom-frontpage-search-result .solr-search-results-category-item .img img{width:93% !important;}
.solr-search-results-category-item { float: left; width: 30%; position: relative; margin: 0 2.5% 2.5% 0; text-decoration: none;}

.solr-search-results-category-item .name { font-size: 18px; color: #000; font-weight: bold; display: block; text-align: center; text-decoration: none; margin: 0 0 7px; }
.solr-search-results-category-item:hover .name a{
    text-decoration: underline;
    color: #66b1fb;
}
.solr-search-results-category-item .name a{
    color: #000;
}


.solr-search-results-category-item .img {
    display: block;
    width: 100%;
    height: 207px;
    background: url("../images/bg-item.png") 0 -227px no-repeat;
    padding: 14px 4px 0 15px;
}
.solr-search-results-category-item:hover .img {
    background-position: 0 0;
}

.solr-search-results-category-item .img img{
    width:96%;
    height: 87%;
    border:1px solid rgba(0, 0, 0, 0.105);
}

.solr-search-results-category-item .count-adv {  zoom: 1; left: 85px; top: 167px; position: absolute; font-size: 13px; color: #fff; text-align: center; width: 136px; height: 24px; background-color: #278bfe; padding: 7px 0 0;
    behavior: url(styles/pie.htc);
    -webkit-border-radius: 13px;
    -moz-border-radius: 13px;
    border-radius: 13px;
}

.items_container{
    width: 1000px;
    position: relative;
    overflow: hidden;
}


.apachesolr_search-results .search-item-description{
    height: 60px;
}

/* user register form */
.page-user-register #content .section,
.page-user.not-logged-in #content .section,
.page-user-password #content .section{
    width: 520px;
    margin: auto;
}
#user-register-form #fbconnect_button{
    text-align: center;
}
.form-item-mollom-captcha.compact-form-wrapper label{
    display: none!important;
}

.form-item-mollom-captcha.compact-form-wrapper #edit-mollom-captcha{
    float: left;
}

.form-item-mollom-captcha.compact-form-wrapper span.form-required{
    display:block;
    float:left;
}
/* end user register form */

/* user login form */
#user-login-form span.form-required{
    display: none;;
}
/* end user login form */



/* user dropdown menu */
#block-ec-user-user-header-dropdown-menu  .header-dropdown ul{
    font-size: 14px;
}
#block-ec-user-user-header-dropdown-menu  .header-dropdown{
    z-index: 1000!important;
    position: relative;
    background-color: #ffffff;
    behavior: url(styles/pie.htc);
    -moz-box-shadow: 0 0 5px rgba(0,0,0,0.5);
    -webkit-box-shadow:  0 0 5px rgba(0,0,0,0.5);
    filter: progid:DXImageTransform.Microsoft.dropshadow(offX=0, offY=0, color=rgba(0,0,0,0.5));
    filter: progid:DXImageTransform.Microsoft.shadow(direction=120, color=#000000, strength=5);
    box-shadow: 0 0 5px rgba(0,0,0,0.5);
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
//border-radius: 3px;
    border: 1px solid #D0D0D0;
    width:100%;
    padding:5px;
}

#dropdown_link{
    color: #2085D0 !important;
    font-family: "Georgia", "tahoma" !important;
    font-size: 14px !important;
    text-decoration: underline !important;
}

#block-ec-user-user-header-dropdown-menu .content{
    padding-top: 1px;
}

span.arrow-user-menu{
    background: url('../images/arrow_down.png') no-repeat;
    display: block;
    float: right;
    width: 5px;
    margin: 10px 0 0 7px;

}
#dropdown_link .hello-msg{
    float: right;
    text-align: right;
}

.dropdown-link-div{
    overflow: hidden;
}
#block-ec-user-user-header-dropdown-menu  .header-dropdown::before{
    content: '';
    display: inline-block;
    border-left: 7px solid transparent;
    border-right: 7px solid transparent;
    border-bottom: 7px solid transparent;
    border-bottom-color: #D0D0D0;
    top: -9px;
    right: 15px;
    position: absolute;
}

/* end user dropdown menu */


/* payout method */

.form-item-select-method-payout-method{
    overflow: hidden;
    border-top: 1px solid black;
}

.form-item-select-method-payout-method label{
    width:100%;
}

.payout_preference_line_item{
    clear:right;
    width:100%;
    overflow:hidden;
}
.form-item-select-method-payout-method label.option{
    margin-left: 0;
    clear:right;
    width:94%;
    overflow:hidden;
}
.payout_preference_line_item_header{
    width:100%!important;
}
.payout_preference_line_item_header .payout_preference_line_item{
    text-align: center;
    font-weight: bold;
    width:94%;
}

.form-item-select-method-payout-method span{
    display:none;
}
.form-item-select-method-payout-method input,
.form-item-select-method-payout-method .empty-radio{
    width:5%;
}
.form-item-select-method-payout-method .name{
    width:20%;
}
.form-item-select-method-payout-method .arrives_on{
    width:15%;
    text-align: center;
}
.form-item-select-method-payout-method .fees{
    width:12%;
    text-align: center;
}
.form-item-select-method-payout-method .currency{
    width:12%;
    text-align: center;
}
.form-item-select-method-payout-method .details{
    width:39%;
}
.form-item-select-method-payout-method label.option,
.form-item-select-method-payout-method input,
.form-item-select-method-payout-method .empty-radio,
.form-item-select-method-payout-method .name,
.form-item-select-method-payout-method .arrives_on,
.form-item-select-method-payout-method .currency,
.form-item-select-method-payout-method .details,
.form-item-select-method-payout-method .name,
.form-item-select-method-payout-method .fees{
    float:left;
}
/* end payout method */



/* common theme ovverides */
#page-wrapper, #footer-wrapper {
    background: none;
}

#main{
    margin-top: 0;
}

/* slides */
.gallery-frame ul {
    text-align:center;
}
.gallery-frame ul li{
    width:630px;
    margin: 0 auto;
}
.galleryformatter-greenarrows .gallery-thumbs li a {
    padding-top:6px!important;
}
.galleryformatter-greenarrows .gallery-thumbs .wrapper {
    border-bottom: none;
}
.advert-field-separator-wrapper{
    width:660px;
    float:left;
    clear: both;

}
.advert-field-separator{
    border-bottom: 1px solid #CCC;
    margin: 10px auto 10px 0;
    width:95%;
}


/* slides */