.group_user_locale{
    display: none;
}

#edit-masquerade-users.form-autocomplete{
    background-position: 100% 15px;
}
#edit-group_account_info{
    top: -40px;
}
#edit-group_user_picture,
#edit-group_user_info{
    top: -25px;
}
.tabs .secondary{
    margin-bottom: -20px!important;
}