#small-calendar .ui-datepicker{
    width: 100%;
}
.day-off .ui-state-default{
    color: black!important;
}

.ui-datepicker-calendar .day-off{
    background-color: #f59c9c!important;
    opacity: 1;
    border: #f59c9c!important ;
}

#block-calendar-small-calendar{
    padding: 0;
    border: 0;
}
#block-calendar-small-calendar .datepickerSelected span{
    font-weight: 900;
    color: #000000!important;
    background: #f40000 !important;
}

#block-calendar-small-calendar .datepickerContainer,
#block-calendar-small-calendar .datepicker{
    width: 100%!important;
}
#block-calendar-small-calendar a:hover{
   color: white;
}

#block-calendar-small-calendar table tr th{
    background: #3e95fe!important;
}
#block-calendar-small-calendar table tr th a{
     text-align: center;
     width: 100%;
 }
#block-calendar-small-calendar table tr th a:hover{
color: white;
    /*color:    #EEEEEE;*/
}

#block-calendar-small-calendar .datepickerViewDays thead{
   background: #3e95fe!important;
   color: #3e95fe!important;
}
#block-calendar-small-calendar td a:hover{
  color: black;
}

#block-calendar-small-calendar td{
    background-color: #e5eef7;
    font-size: 12px;
    width: 30px;
}

#block-calendar-small-calendar .datepickerDays a,
#block-calendar-small-calendar .datepickerNotInMonth a{
    width: 100%!important;
    margin-top: 1px;
    margin-bottom: 1px;
}
#block-calendar-small-calendar .datepickerDays span{
    text-align: center;
}
#block-calendar-small-calendar .datepickerNotInMonth span{
    text-align: center;
    color: grey;
}
#block-calendar-small-calendar .datepicker td{
    text-align: center !important;
}

.calendar-error {
  color: red;
  border-color: red;
}

/* Add some nice box-shadow-ness to the dialogues */
.ui-tooltip-dialogue {
  max-width: 420px;
  min-width: 210px;

  -moz-box-shadow: 0 0 10px 1px rgba(0, 0, 0, .5);
  -webkit-box-shadow: 0 0 10px 1px rgba(0, 0, 0, .5);
  box-shadow: 0 0 10px 1px rgba(0, 0, 0, .5);
}

.ui-tooltip-dialogue .ui-tooltip-content {
  padding: 10px;
}

.ui-tooltip-dialogue button {
  float: left;
  width: 47%;
  margin-right: 10px;
  padding: 3px 0;

  text-align: center;
  font-size: 10.5px;
}

.ui-tooltip-dialogue button + button {
  float: right;
  margin-right: 0;
}

.ui-tooltip-dialogue input {
  width: 95%;
  padding: 3px 0 3px 5px;
  margin-bottom: 7px;

  font-size: 10.5px;
}

.ui-tooltip-dialogue button.full {
  float: none;
  width: 100%;
}

#calendar .fc-event {
  height: 18px !important;
}

.day-off,
tbody.datepickerDays td.datepickerSelected{
  background: red !important;
}

.ui-tooltip, .qtip {
  max-width: 800px !important;
}

.progressbar-percent{
  position: absolute;
  left: 80px;
}

.deal-color {
  width: 15px;
  height: 15px;
  display: block;
  float: left;
}
.datepickerBorderT,
.datepickerBorderB,
.datepickerBorderL,
.datepickerBorderR,
.datepickerBorderTL,
.datepickerBorderTR,
.datepickerBorderBL,
.datepickerBorderBR,
.datepickerWeek,
.datepickerDoW:first-child,
.datepickerDoW > th:first-child,
.event-hidden{
  display: none;
}
.datepickerContainer tr{
    text-align: center;
}

.datepickerContainer {
  position: relative;
  background: none !important;
  top: 0 !important;
  left: 0 !important;
}

.datepickerContainer table {
  margin: 0 !important;
 /* width: auto !important;*/
}

.datepicker th {
  text-align: center !important;
  padding: 5px !important;
}


.datepickerNotInMonth span{
    text-align: right;
    color: grey !important;
}

.weekend-wrapper a{
    padding-right: 25px;
}
