/**
 * @file
 * css file for the module.
 */

div.field-type-numeric-interval label, div.field-type-numeric-interval .edit-field-numeric-interval {
  display: inline-block;
}

div.field-type-numeric-interval div.form-type-textfield {
  margin: 10px 0px;
}