.advert-all-estimations-block{
    width:100%;
    float:left;
    margin-bottom:20px;
}

.overall-estimation{
    width:30%;
    float: left;
}

.advert-estimations{
    width:70%;
    float:left;
}

.advert-estimation{
    width:50%;
    float:left;
}